.head-main {
  width: 100%;
  z-index: 1;
  top: 0;
  background: #414042; 
  box-shadow: inset 0 -1px 0 0 #fff, 0 1px 5px rgba(0,0,0,.1);
  display: none;
}

.head-elements {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0.75rem;
}

.social-links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.bottom-bar {
  width: 100%;
  background: #414042;
  display: none;
  flex-direction: row;
  justify-content: space-around;
}
.mobile-pages-main {
  width: 100%;
  background: white;
  margin: 0;
  padding: 0 0.75rem;
  display: none;
}
.head-logo {
  font-family: "Be Vietnam";
  font-size: 1.2rem;
}

small {
    font-family: "Be Vietnam";
}

.mobile-bio-main {
  background: white;
  display: none;
}

.profile-img{
  max-width: 40px;
  margin-bottom: 0;
}



@media only screen and (max-width: 850px) {
  .head-main{
    display: block;
  }
  .bottom-bar{display: flex;}
  .social-links{display: none;}
  .mobile-pages-main{display: block;}
  .mobile-bio-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}