.sidebar-main {
    width: 100%;
}

.side-social-links {
    display: flex;
}

.page-links {
    padding-top: 3rem;
    font-family: "Be Vietnam";
}


.profile-img {
     border-radius: 50%;
}

small, h3, p {
    font-family: 'Be Vietnam';
    
}

.author-bio {
    font-size: 2vw;
}

